.move {
    display: block;
    margin: 0 auto 30px;
    max-width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
}

.column {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 40px;
    margin-bottom: 40px;
}

@media (max-width: 1000px) {
    .column {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 15px;
    }
}

.empty-basket {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -135px;
    margin-left: -135px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: gray;
    width: 270px;
    height: 270px;
    border: 2px dashed #cfcfcf;
    border-radius: 50%;
    color: #686868;
    font-weight: 500;
}

.icon-basket {
    margin-bottom: 20px;
}
