.header {
    background-color: #fff;
    box-shadow: 3px 0 4px rgba(0, 0, 0, .25);
    margin-bottom: 40px;
}

.logo {
    display: block;
    height: 70px;
    margin: 0 auto;
}

.text {
    font-size: 22px;
    color: #007dc0;
    text-align: center;
}

.move {
    display: block;
    margin: 0 auto 30px;
}

.content {
    display: flex;
    max-width: 1000px;
    margin-bottom: 80px;
}

.column {
    flex: 0 0 50%;
    padding: 0 40px;
}

.panel-body {
    height: 510px;
}

.footer {
    height: 70px;
    background-color: #333333;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
