<layout>

    <p class="text">Для добавления товара,<br>удерживайте его мышкой и перенесите в корзину</p>
    <img class="move" src="assets/img/move.png" alt="">

    <div class="content">

        <div class="column">
            <panel [header]="'Товары'">
                <div id="products" class="panel-body" [dragula]="'catalog'" [dragulaModel]="products">
                    <card
                        *ngFor="let product of products"
                        [attr.data-id]="product.id"
                        [product]="product"
                        [isShowTotal]="true"
                        (changeAmount)="changeAmount($event)"
                    ></card>
                </div>
            </panel>
        </div>

        <div class="column">
            <panel [header]="'Корзина'">
                <div id="basket" class="panel-body basket" [dragula]="'catalog'" [dragulaModel]="basket">
                    <card
                        *ngFor="let product of basket"
                        [attr.data-id]="product.id"
                        [product]="product"
                    ></card>
                    <div *ngIf="!basket.length" class="empty-basket">
                        Корзина пуста
                    </div>
                </div>
                <div *ngIf="total" class="panel-footer">
                    Итого: <span class="text-success"> {{ total }} Р</span>
                </div>
            </panel>
        </div>

    </div>

</layout>