<layout>

    <p class="text-primary text-center">Для добавления товара,<br>удерживайте его мышкой и перенесите в корзину</p>
    <img class="move" src="assets/img/move.png" alt="">

    <div class="content">

        <div class="column">
            <panel [header]="'Товары'">
                <div id="products" class="flex-grow-1" [dragula]="'catalog'" [dragulaModel]="products">
                    <card
                        *ngFor="let product of products"
                        [attr.data-id]="product.id"
                        [product]="product"
                        [isShowTotal]="true"
                        (changeAmount)="changeProductAmount($event)"
                    ></card>
                </div>
            </panel>
        </div>

        <div class="column">
            <panel [header]="'Корзина'" [total]="total">
                <div id="basket" class="flex-grow-1" [dragula]="'catalog'" [dragulaModel]="basket">
                    <card
                        *ngFor="let product of basket"
                        [attr.data-id]="product.id"
                        [product]="product"
                        [isShowDeleteButton]="true"
                        (changeAmount)="changeBasketProductAmount($event)"
                        (deleteProduct)="deleteProduct($event)"
                    ></card>
                    <div *ngIf="!basket.length" class="empty-basket">
                        <img class="icon-basket" src="assets/img/basket.png" alt="">
                        Корзина пуста
                    </div>
                </div>
            </panel>
        </div>

    </div>

</layout>